//- extends layouts/main

//- block content
//-     #changePassword
//-         .container
//-             .changePassword
//-                 h1 비밀번호 변경하기
//-                 form(action=`/users${routes.changePassword}`, method="post")
//-                     dl
//-                         dt 현재 비밀번호
//-                         dd
//-                             input(type="password", name="oldPassword", placeholder="Current Password")
//-                     dl
//-                         dt 새 비밀번호
//-                         dd
//-                             input(type="password", name="newPassword", placeholder="New Password")
//-                     dl
//-                         dt 새 비밀번호 확인
//-                         dd
//-                             input(type="password", name="newPassword1", placeholder="Verify New Password")
//-                     dl
//-                         dt 변경하기
//-                         dd
//-                             input.completeBtn(type="submit", value="변경하기")

extends layouts/main

block content
    // contain main informative part of the site
    main#main
        // main-banner of the page
        section.banner(style='background-image: url(http://placehold.it/1920x1000);')
            span.sale-percent Best of best
            .container
                .row
                    .col-xs-12
                        .caption
                            h1.main-heading.heading-1 Change Password
                            ul.list-unstyled.breadcrumbs
                                li
                                    a(href='home.html') Home
                                li
                                    a(href='category-page.html') shop
                                li login
            span.year TRENDS FOR 2020
        // form-section of the page
        section.form-sec
            form.contact-form(action='#')
                fieldset
                    .form-group
                        input.form-control(type='email', placeholder='Email')
                    .form-group
                        input.form-control(type='password', placeholder='Password')
                    .form-group
                        a(href='#') Forget Password
                        button.btn-primary.btn-login(type='submit') Login
    