
.footer{
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    
    strong{
        color: rgb(121, 121, 121);
    }
    p{
        color: #666;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}