//- #footer.section
//-     .container
//-         .footer
//-             address 
//-                 | 경상남도 창원시 성산구 중앙동 67-12
//-                 br
//-                 | Copyright © 
//-                 a(href="#")
//-                     strong DESIA
//-                 |  All Rights Reserved.
//-             p Designed by Sooss

// footer of the Page
footer#footer.wow.fadeInUp(data-wow-delay='0.4s')
    //- span.free-ship FREE SHIPPING
    .container
        .row
            .col-xs-12.col-sm-4.col-lg-4.txt-holder
                .footer-logo
                    a(href='index.html') Desia
                p
                    | Pharetra, erat sed fermentum
                    br
                    |                 feugiat, velit mauris egestas
                    br
                    |                 quam.
            .col-xs-12.col-sm-4.col-lg-3
                h3 contact us
                // Contact of the page
                ul.list-unstyled.contact-info
                    li
                        i.icon.icon-location
                        address 창원시 성산구 중앙동 67-12
                    li
                        i.icon.icon-email
                        a.txt(href='#') idontknow@youremail.com
                    li
                        i.icon.icon-phone
                        a.txt(href='#') 055-282-3173
                    li
                        i.icon.icon-printer
                        a.txt(href='#') (00)-213 1879017 fax
            .col-xs-12.col-sm-4.col-lg-5
                h3 intagram feed
                // Instagram of the page
                // 95*70
                ul.list-unstyled.instagram-list
                    li
                        a(href='#')
                            img(src='https://instagram.ficn6-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c224.0.991.991a/s640x640/95149242_767366200337343_3825058741766495127_n.jpg?_nc_ht=instagram.ficn6-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=41kxILj-lJgAX-aJmAv&oh=8c3623689a45f79689f9773c9265dbe4&oe=5ED61127', alt='image description')
                    li
                        a(href='#')
                            img(src='https://instagram.ficn6-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c240.0.960.960a/s640x640/95094045_528149111210138_5294566249783482971_n.jpg?_nc_ht=instagram.ficn6-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=PtXzvl23e7UAX-B5InL&oh=6f487cdc3fb873f141bb194b1eedae8b&oe=5ED64F88', alt='image description')
                    li
                        a(href='#')
                            img(src='https://instagram.ficn6-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c240.0.960.960a/s640x640/95266825_876304862833121_455130143427332815_n.jpg?_nc_ht=instagram.ficn6-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=NtOvZNKEOHcAX-x6VLB&oh=767b3eeb6d6ac7d053c92ecb7cd09b29&oe=5ED81B1B', alt='image description')
                    li
                        a(href='#')
                            img(src='https://instagram.ficn6-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c209.0.1021.1021a/s640x640/94974700_235013671080959_4624618417426100218_n.jpg?_nc_ht=instagram.ficn6-1.fna.fbcdn.net&_nc_cat=111&_nc_ohc=2zxlVpv_BT4AX9Q-JAu&oh=ee5b4e03f60ebd88725d50524098d97c&oe=5ED87EA1', alt='image description')
                    li
                        a(href='#')
                            img(src='https://instagram.ficn6-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c0.180.1440.1440a/s640x640/94458609_232112948108589_223643834884118426_n.jpg?_nc_ht=instagram.ficn6-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=FP5OjD96x8sAX8NfN51&oh=86d7de76a08627c5c664f674dfd5f18f&oe=5ED877AF', alt='image description')
                    li
                        a(href='#')
                            img(src='https://instagram.ficn6-1.fna.fbcdn.net/v/t51.2885-15/e35/c157.0.406.406a/94353908_123839365938385_3210605693689504212_n.jpg?_nc_ht=instagram.ficn6-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=Nk9UDpGu_OsAX_VibOZ&oh=57c0b61dbab036b2574d8f680b2505b6&oe=5EB086B8', alt='image description')
                    li
                        a(href='#')
                            img(src='https://instagram.ficn6-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c0.2.1408.1408a/s640x640/94636896_222294469190553_3340558340419199362_n.jpg?_nc_ht=instagram.ficn6-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=Qcgt9YjcLY8AX_lFWd_&oh=c37c3e5189c38bb626180e801400edcd&oe=5ED76C96', alt='image description')
                    li
                        a(href='#')
                            img(src='https://instagram.ficn6-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c240.0.960.960a/s640x640/92214063_2496502130456191_3553547023600496391_n.jpg?_nc_ht=instagram.ficn6-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=iBuPxGEcZ5wAX_Oyf0V&oh=41cc5de00b1afc238487048c8b8eb059&oe=5ED66B7E', alt='image description')
    //- span.support 24H SUPPORT
// Back Top of the page
span#back-top.arrow_carrot-up
