// Search Popup of the page
.search-popup
    .holder
        .col
            .block-holder
                a.close-btn(href='#')
                    i.icon-close
                form.submit-form(action='#')
                    fieldset
                        label.icon-search(for='search')
                        input#search(type='search')